<form [formGroup]="MonthlyPremiumForm" (ngSubmit)="onSubmit()">

    <table>
        <tbody>
            <tr>
                <td><label>Name</label></td>
                <td> <input type="text" id="name" formControlName="name" /></td>
            </tr>
            <tr>
                <td>
                 <label>Age Next Birthday</label>
                </td>
                <td>
                <input type="number" id="age_NextBday" formControlName="age_NextBday" />
                </td>
            </tr>
            <tr>
                <td><label>Date of Birth</label>

                </td>
                <td>
                    <input type="date" id="MemberDob" formControlName="MemberDob" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Usual Occupation</label>
                </td>
                <td>
                    <select id="UsualOccupation" class="form-control" formControlName="slectedValue"  (change)="OnOccupationChange($event)">
                            <option value="" disabled>--Select Occupation--</option>
                                <option *ngFor="let occupation of occupations" [value]="occupation.rating">
                                        {{occupation.name}}
                                </option> 
                        </select>
                </td>
            </tr>
            <tr>
                <td><label>Sum Insured</label>
                </td>
                <td><input type="number" id="sumInsured" formControlName="sumInsured" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Calculate Monthly Premium" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Monthly Premium: {{monthlyPremium}}</label>
                </td>
            </tr>
        </tbody>
    </table>
  
    
</form>